In [164]:
import pandas as pd

In [165]:
df_1 = pd.read_csv('forecasts_and_truth.csv')

In [166]:

# Rename the column 'state_abbreviation' to 'abbreviation'
df_1 = df_1.rename(columns={'abbreviation': 'location_key'})


df_1['location_key'] = 'US_' + df_1['location_key'].astype(str)

df_1.dropna(subset=['forecast_value'], inplace=True)

columns_to_keep = ['location_key', 'forecast_value', 'target_end_date']
# Create a list of column names to keep
# Select only the specified columns
df_1 = df_1[columns_to_keep]



display(df_1)

        location_key  forecast_value target_end_date
0              US_AL         920.000      2020-04-11
1              US_AK          86.000      2020-04-11
2              US_AZ        1414.000      2020-04-11
3              US_AR         334.000      2020-04-11
4              US_CA        7742.000      2020-04-11
...              ...             ...             ...
2112016        US_PR          96.380      2022-05-29
2112017        US_PR          87.400      2022-05-29
2112018        US_VI           1.600      2022-05-29
2112019        US_US        5222.303      2022-05-29
2112020        US_US        3134.700      2022-05-29

[2112021 rows x 3 columns]

In [185]:
# Group by state abbreviation and count the number of rows for each group
#count is number of covid cases on average per state
cases_per_state = df_1.groupby('location_key').size().reset_index(name='count')
state_mapping = {
    'US_AL': 'Alabama',
    'US_AK': 'Alaska',
    'US_AZ': 'Arizona',
    'US_AR': 'Arkansas',
    'US_CA': 'California',
    'US_CO': 'Colorado',
    'US_CT': 'Connecticut',
    'US_DE': 'Delaware',
    'US_FL': 'Florida',
    'US_GA': 'Georgia',
    'US_HI': 'Hawaii',
    'US_ID': 'Idaho',
    'US_IL': 'Illinois',
    'US_IN': 'Indiana',
    'US_IA': 'Iowa',
    'US_KS': 'Kansas',
    'US_KY': 'Kentucky',
    'US_LA': 'Louisiana',
    'US_ME': 'Maine',
    'US_MD': 'Maryland',
    'US_MA': 'Massachusetts',
    'US_MI': 'Michigan',
    'US_MN': 'Minnesota',
    'US_MS': 'Mississippi',
    'US_MO': 'Missouri',
    'US_MT': 'Montana',
    'US_NE': 'Nebraska',
    'US_NV': 'Nevada',
    'US_NH': 'New Hampshire',
    'US_NJ': 'New Jersey',
    'US_NM': 'New Mexico',
    'US_NY': 'New York',
    'US_NC': 'North Carolina',
    'US_ND': 'North Dakota',
    'US_OH': 'Ohio',
    'US_OK': 'Oklahoma',
    'US_OR': 'Oregon',
    'US_PA': 'Pennsylvania',
    'US_RI': 'Rhode Island',
    'US_SC': 'South Carolina',
    'US_SD': 'South Dakota',
    'US_TN': 'Tennessee',
    'US_TX': 'Texas',
    'US_UT': 'Utah',
    'US_VT': 'Vermont',
    'US_VA': 'Virginia',
    'US_WA': 'Washington',
    'US_WV': 'West Virginia',
    'US_WI': 'Wisconsin',
    'US_WY': 'Wyoming'
}
cases_per_state['location_key'] = cases_per_state['location_key'].map(state_mapping)
cases_per_state.dropna(inplace=True)
display(cases_per_state)

      location_key  count
0           Alaska  38617
1          Alabama  39482
2         Arkansas  39469
4          Arizona  39700
5       California  39684
6         Colorado  39591
7      Connecticut  39540
9         Delaware  39446
10         Florida  39233
11         Georgia  39541
13          Hawaii  37510
14            Iowa  39627
15           Idaho  39532
16        Illinois  39925
17         Indiana  39603
18          Kansas  39268
19        Kentucky  39636
20       Louisiana  39414
21   Massachusetts  39568
22        Maryland  39513
23           Maine  39440
24        Michigan  39617
25       Minnesota  39664
26        Missouri  39435
28     Mississippi  39812
29         Montana  39512
30  North Carolina  39646
31    North Dakota  39317
32        Nebraska  39250
33   New Hampshire  39430
34      New Jersey  39434
35      New Mexico  39475
36          Nevada  39402
37        New York  40132
38            Ohio  38902
39        Oklahoma  39200
40          Oregon  39507
41    Pennsylvania  39572
43    Rhode Island  40134
44  South Carolina  39379
45    South Dakota  39471
46       Tennessee  39615
47           Texas  39805
49            Utah  39267
50        Virginia  39634
52         Vermont  39236
53      Washington  39540
54       Wisconsin  39740
55   West Virginia  39344
56         Wyoming  39232

In [168]:
index_df = pd.read_csv('index.csv')

In [169]:
# Drop rows with missing values in the 'location_key' column
index_df = index_df.dropna(subset=['location_key'])

# Filter rows with 'US_' prefix in the 'location_key' column
index_df = index_df[index_df['location_key'].str.startswith('US_')]

# Display the filtered DataFrame
display(index_df)

,location_key,place_id,wikidata_id,datacommons_id,country_code,country_name,subregion1_code,subregion1_name,subregion2_code,subregion2_name,locality_code,locality_name,iso_3166_1_alpha_2,iso_3166_1_alpha_3,aggregation_level
19558,US_AK,ChIJG8CuwJzfAFQRNduKqSde27w,Q797,geoId/02,US,United States of America,AK,Alaska,NaN,NaN,NaN,NaN,US,USA,1
19559,US_AK_02013,ChIJ7a-UgVuW_lYRjTetzbIWL48,Q504371,geoId/02013,US,United States of America,AK,Alaska,02013,Aleutians East,NaN,NaN,US,USA,2
19560,US_AK_02016,ChIJI9ivbI1Pg1cRg8d4nlGjGVU,Q185533,geoId/02016,US,United States of America,AK,Alaska,02016,Aleutians West,NaN,NaN,US,USA,2
19561,US_AK_02020,ChIJQT-zBHaRyFYR42iEp1q6fSU,Q39450,geoId/02020,US,United States of America,AK,Alaska,02020,Anchorage Municipality,NaN,NaN,US,USA,2
19562,US_AK_02050,ChIJAzKaLtLCIVcR4HXf_qNNZmk,Q500312,geoId/02050,US,United States of America,AK,Alaska,02050,Bethel,NaN,NaN,US,USA,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22837,US_WY_56037,ChIJEVZf4rRTWocRoqATF0f_rnA,Q484194,geoId/56037,US,United States of America,WY,Wyoming,56037,Sweetwater County,NaN,NaN,US,USA,2
22838,US_WY_56039,ChIJV3wGpVVrUlMR3m18oGf5rvk,Q488912,geoId/56039,US,United States of America,WY,Wyoming,56039,Teton County,NaN,NaN,US,USA,2
22839,US_WY_56041,ChIJR4w4T5CnUYcRvTPRgMmXumM,Q483973,geoId/56041,US,United States of America,WY,Wyoming,56041,Uinta County,NaN,NaN,US,USA,2
22840,US_WY_56043,ChIJIXR5_L9BS1MRLvs8KUxeZC8,Q112846,geoId/56043,US,United States of America,WY,Wyoming,56043,Washakie County,NaN,NaN,US,USA,2
22841,US_WY_56045,ChIJd4Rqhed3YocR7ubT5-HgoJg,Q115413,geoId/56045,US,United States of America,WY,Wyoming,56045,Weston County,NaN,NaN,US,USA,2

In [170]:
vaccination_df = pd.read_csv('Global_vaccination_search_insights.csv')

C:\Users\gebruikerr\AppData\Local\Temp\ipykernel_26196\1151080182.py:1: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  vaccination_df = pd.read_csv('Global_vaccination_search_insights.csv')

In [171]:
display(vaccination_df.head())

,date,country_region,country_region_code,sub_region_1,sub_region_1_code,sub_region_2,sub_region_2_code,sub_region_3,sub_region_3_code,place_id,sni_covid19_vaccination,sni_vaccination_intent,sni_safety_side_effects
0,2021-01-04,United States,US,Alabama,US-AL,Autauga County,1001.0,NaN,NaN,ChIJg9z7ewWPjogRA_8QrB0va7o,31.019,7.318,5.726
1,2021-01-11,United States,US,Alabama,US-AL,Autauga County,1001.0,NaN,NaN,ChIJg9z7ewWPjogRA_8QrB0va7o,34.325,10.416,4.572
2,2021-01-18,United States,US,Alabama,US-AL,Autauga County,1001.0,NaN,NaN,ChIJg9z7ewWPjogRA_8QrB0va7o,33.666,9.689,5.406
3,2021-01-25,United States,US,Alabama,US-AL,Autauga County,1001.0,NaN,NaN,ChIJg9z7ewWPjogRA_8QrB0va7o,37.693,10.678,6.204
4,2021-02-01,United States,US,Alabama,US-AL,Autauga County,1001.0,NaN,NaN,ChIJg9z7ewWPjogRA_8QrB0va7o,45.849,13.942,7.218

In [172]:

#vaccination_df = vaccination_df.groupby('sub_region_1')['sni_covid19_vaccination'].mean()
#print(vaccination_df)

# Group by 'sub_region_1' and calculate the mean of 'sni_covid19_vaccination'
vaccination_df = vaccination_df.groupby('sub_region_1')['sni_covid19_vaccination'].mean().reset_index()

# Print the resulting DataFrame

# Assuming vaccination_df_filtered is the DataFrame containing data for the 51 US states

# Rename the column 'old_column_name' to 'new_column_name'
vaccination_df = vaccination_df.rename(columns={'sub_region_1': 'location_key'})

# Print the DataFrame to verify the changes
print(vaccination_df)

          location_key  sni_covid19_vaccination
0              Alabama                21.910518
1               Alaska                25.297487
2              Alberta                35.278955
3              Arizona                22.923230
4             Arkansas                19.970524
..                 ...                      ...
97       West Virginia                23.623347
98   Western Australia                38.396889
99           Wisconsin                23.549975
100            Wyoming                18.224789
101              Yukon                38.450497

[102 rows x 2 columns]

In [173]:
import pandas as pd

# Assuming df is your DataFrame containing the state data
# Assuming us_states is a list containing the names or codes of the US states

# List of US states
us_states = [
    'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida',
    'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
    'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
    'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
    'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas',
    'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
]

# Filter the DataFrame to include only the US states
vaccination_df = vaccination_df[vaccination_df['location_key'].isin(us_states)]

# Now df_us_states contains only the rows corresponding to the US states

In [174]:
display(vaccination_df)

       location_key  sni_covid19_vaccination
0           Alabama                21.910518
1            Alaska                25.297487
3           Arizona                22.923230
4          Arkansas                19.970524
7        California                26.463601
8          Colorado                24.926469
9       Connecticut                33.418550
36         Delaware                26.743076
39          Florida                22.986631
40          Georgia                19.403183
41           Hawaii                27.597897
42            Idaho                20.437688
43         Illinois                25.496784
44          Indiana                20.906798
45             Iowa                23.171171
46           Kansas                24.223918
47         Kentucky                21.547665
48        Louisiana                19.078082
49            Maine                36.524061
51         Maryland                29.842738
52    Massachusetts                34.355318
53         Michigan                24.726669
54        Minnesota                26.105793
55      Mississippi                19.376032
56         Missouri                23.276644
57          Montana                22.829302
58         Nebraska                23.242187
59           Nevada                20.678356
61    New Hampshire                33.751777
62       New Jersey                32.793213
63       New Mexico                24.425495
65         New York                34.677319
67   North Carolina                21.357222
68     North Dakota                20.878764
74             Ohio                24.287463
75         Oklahoma                19.221904
77           Oregon                29.493114
78     Pennsylvania                29.619614
82     Rhode Island                28.235597
86   South Carolina                21.103136
87     South Dakota                20.756047
89        Tennessee                20.034923
90            Texas                19.838226
91             Utah                20.033255
92          Vermont                30.077845
94         Virginia                25.046246
96       Washington                28.795359
97    West Virginia                23.623347
99        Wisconsin                23.549975
100         Wyoming                18.224789

In [181]:
merged_df = pd.merge(cases_per_state, vaccination_df, on='location_key')
display(merged_df)

Empty DataFrame
Columns: [location_key, count, sni_covid19_vaccination]
Index: []

In [175]:
demographics_df = pd.read_csv('demographics.csv')

demographics_df = demographics_df.dropna(subset=['location_key'])
demographics_df = demographics_df[demographics_df['location_key'].str.startswith('US_')]
demographics_df = demographics_df.iloc[:, :4]

display(demographics_df)

      location_key  population  population_male  population_female
18284        US_AK    733391.0         424916.0           391925.0
18285  US_AK_02013      3455.0           2345.0             1110.0
18286  US_AK_02016      5729.0           3795.0             1934.0
18287  US_AK_02020    294338.0         149817.0           144521.0
18288  US_AK_02050     18090.0           9369.0             8721.0
...            ...         ...              ...                ...
21563  US_WY_56037     43464.0          22438.0            21026.0
21564  US_WY_56039     23384.0          12133.0            11251.0
21565  US_WY_56041     20431.0          10339.0            10092.0
21566  US_WY_56043      8010.0           4055.0             3955.0
21567  US_WY_56045      6968.0           3660.0             3308.0

[3284 rows x 4 columns]

In [188]:
government_df = pd.read_csv('oxford-government-response (1).csv')

government_df = government_df.dropna(subset=['location_key'])
government_df = government_df[government_df['location_key'].str.startswith('US_')]
state_mapping = {
    'US_AL': 'Alabama',
    'US_AK': 'Alaska',
    'US_AZ': 'Arizona',
    'US_AR': 'Arkansas',
    'US_CA': 'California',
    'US_CO': 'Colorado',
    'US_CT': 'Connecticut',
    'US_DE': 'Delaware',
    'US_FL': 'Florida',
    'US_GA': 'Georgia',
    'US_HI': 'Hawaii',
    'US_ID': 'Idaho',
    'US_IL': 'Illinois',
    'US_IN': 'Indiana',
    'US_IA': 'Iowa',
    'US_KS': 'Kansas',
    'US_KY': 'Kentucky',
    'US_LA': 'Louisiana',
    'US_ME': 'Maine',
    'US_MD': 'Maryland',
    'US_MA': 'Massachusetts',
    'US_MI': 'Michigan',
    'US_MN': 'Minnesota',
    'US_MS': 'Mississippi',
    'US_MO': 'Missouri',
    'US_MT': 'Montana',
    'US_NE': 'Nebraska',
    'US_NV': 'Nevada',
    'US_NH': 'New Hampshire',
    'US_NJ': 'New Jersey',
    'US_NM': 'New Mexico',
    'US_NY': 'New York',
    'US_NC': 'North Carolina',
    'US_ND': 'North Dakota',
    'US_OH': 'Ohio',
    'US_OK': 'Oklahoma',
    'US_OR': 'Oregon',
    'US_PA': 'Pennsylvania',
    'US_RI': 'Rhode Island',
    'US_SC': 'South Carolina',
    'US_SD': 'South Dakota',
    'US_TN': 'Tennessee',
    'US_TX': 'Texas',
    'US_UT': 'Utah',
    'US_VT': 'Vermont',
    'US_VA': 'Virginia',
    'US_WA': 'Washington',
    'US_WV': 'West Virginia',
    'US_WI': 'Wisconsin',
    'US_WY': 'Wyoming'
}
government_df['location_key'] = government_df['location_key'].map(state_mapping)
display(government_df)

,date,location_key,school_closing,workplace_closing,cancel_public_events,restrictions_on_gatherings,public_transport_closing,stay_at_home_requirements,restrictions_on_internal_movement,international_travel_controls,...,fiscal_measures,international_support,public_information_campaigns,testing_policy,contact_tracing,emergency_investment_in_healthcare,investment_in_vaccines,facial_coverings,vaccination_policy,stringency_index
246462,2020-01-01,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
246463,2020-01-02,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
246464,2020-01-03,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
246465,2020-01-04,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
246466,2020-01-05,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293756,2022-07-15,Wyoming,0.0,0.0,0.0,0.0,2.0,0.0,1.0,4.0,...,NaN,NaN,2.0,3.0,1.0,NaN,NaN,0.0,5.0,36.11
293757,2022-07-16,Wyoming,0.0,0.0,0.0,0.0,2.0,0.0,1.0,4.0,...,NaN,NaN,2.0,3.0,1.0,NaN,NaN,0.0,5.0,36.11
293758,2022-07-17,Wyoming,0.0,0.0,0.0,0.0,2.0,0.0,1.0,4.0,...,NaN,NaN,2.0,3.0,1.0,NaN,NaN,0.0,5.0,36.11
293759,2022-07-18,Wyoming,0.0,0.0,0.0,0.0,2.0,0.0,1.0,4.0,...,NaN,NaN,2.0,3.0,1.0,NaN,NaN,0.0,5.0,36.11
293760,2022-07-19,Wyoming,0.0,0.0,0.0,0.0,2.0,0.0,1.0,4.0,...,NaN,NaN,2.0,3.0,1.0,NaN,NaN,0.0,5.0,36.11

In [189]:
df_unique = government_df.drop_duplicates(subset=['location_key'])

# Print the DataFrame with only one row for each unique location key
display(df_unique)

,date,location_key,school_closing,workplace_closing,cancel_public_events,restrictions_on_gatherings,public_transport_closing,stay_at_home_requirements,restrictions_on_internal_movement,international_travel_controls,...,fiscal_measures,international_support,public_information_campaigns,testing_policy,contact_tracing,emergency_investment_in_healthcare,investment_in_vaccines,facial_coverings,vaccination_policy,stringency_index
246462,2020-01-01,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
247393,2020-01-01,Alabama,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248316,2020-01-01,Arkansas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249252,2020-01-01,Arizona,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
250174,2020-01-01,California,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
251111,2020-01-01,Colorado,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
252042,2020-01-01,Connecticut,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
252979,2020-01-01,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
253910,2020-01-01,Delaware,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
254839,2020-01-01,Florida,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
255776,2020-01-01,Georgia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
256713,2020-01-01,Hawaii,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257642,2020-01-01,Iowa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
258573,2020-01-01,Idaho,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
259494,2020-01-01,Illinois,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
260431,2020-01-01,Indiana,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
261362,2020-01-01,Kansas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
262284,2020-01-01,Kentucky,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
263215,2020-01-01,Louisiana,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
264143,2020-01-01,Massachusetts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
265074,2020-01-01,Maryland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
265984,2020-01-01,Maine,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
266915,2020-01-01,Michigan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
267845,2020-01-01,Minnesota,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
268767,2020-01-01,Missouri,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
269698,2020-01-01,Mississippi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
270635,2020-01-01,Montana,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
271557,2020-01-01,North Carolina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
272479,2020-01-01,North Dakota,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
273398,2020-01-01,Nebraska,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
274292,2020-01-01,New Hampshire,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
275214,2020-01-01,New Jersey,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276145,2020-01-01,New Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
277076,2020-01-01,Nevada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
278007,2020-01-01,New York,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278917,2020-01-01,Ohio,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
279853,2020-01-01,Oklahoma,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
280790,2020-01-01,Oregon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
281717,2020-01-01,Pennsylvania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
282625,2020-01-01,Rhode Island,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
283541,2020-01-01,South Carolina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
284472,2020-01-01,South Dakota,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285409,2020-01-01,Tennessee,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
286340,2020-01-01,Texas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
287260,2020-01-01,Utah,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
288191,2020-01-01,Virginia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
289122,2020-01-01,Vermont,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
290053,2020-01-01,Washington,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
290982,2020-01-01,Wisconsin,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
291909,2020-01-01,West Virginia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
292830,2020-01-01,Wyoming,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0

In [178]:
# Display the shapes of DataFrames before merging
print("Shape of index_df:", index_df.shape)
print("Shape of vaccination_df:", vaccination_df.shape)
print("Shape of demographics_df:", demographics_df.shape)
print("Shape of government_df:", government_df.shape)

Shape of index_df: (3284, 15)
Shape of vaccination_df: (50, 2)
Shape of demographics_df: (3284, 4)
Shape of government_df: (47299, 22)

In [186]:
#merge vaccination, government, state, and cases
# Merge demographics_df and government_df on the 'location_key' column
merged_df = pd.merge(cases_per_state, vaccination_df, on='location_key')
merged_df.dropna(inplace=True)
# Merge the resulting DataFrame with df_1 on the 'location_key' column
#merged_df = pd.merge(merged_df, df_1, on='location_key')

# Display the resulting DataFrame
display(merged_df)

      location_key  count  sni_covid19_vaccination
0           Alaska  38617                25.297487
1          Alabama  39482                21.910518
2         Arkansas  39469                19.970524
3          Arizona  39700                22.923230
4       California  39684                26.463601
5         Colorado  39591                24.926469
6      Connecticut  39540                33.418550
7         Delaware  39446                26.743076
8          Florida  39233                22.986631
9          Georgia  39541                19.403183
10          Hawaii  37510                27.597897
11            Iowa  39627                23.171171
12           Idaho  39532                20.437688
13        Illinois  39925                25.496784
14         Indiana  39603                20.906798
15          Kansas  39268                24.223918
16        Kentucky  39636                21.547665
17       Louisiana  39414                19.078082
18   Massachusetts  39568                34.355318
19        Maryland  39513                29.842738
20           Maine  39440                36.524061
21        Michigan  39617                24.726669
22       Minnesota  39664                26.105793
23        Missouri  39435                23.276644
24     Mississippi  39812                19.376032
25         Montana  39512                22.829302
26  North Carolina  39646                21.357222
27    North Dakota  39317                20.878764
28        Nebraska  39250                23.242187
29   New Hampshire  39430                33.751777
30      New Jersey  39434                32.793213
31      New Mexico  39475                24.425495
32          Nevada  39402                20.678356
33        New York  40132                34.677319
34            Ohio  38902                24.287463
35        Oklahoma  39200                19.221904
36          Oregon  39507                29.493114
37    Pennsylvania  39572                29.619614
38    Rhode Island  40134                28.235597
39  South Carolina  39379                21.103136
40    South Dakota  39471                20.756047
41       Tennessee  39615                20.034923
42           Texas  39805                19.838226
43            Utah  39267                20.033255
44        Virginia  39634                25.046246
45         Vermont  39236                30.077845
46      Washington  39540                28.795359
47       Wisconsin  39740                23.549975
48   West Virginia  39344                23.623347
49         Wyoming  39232                18.224789

In [190]:
# Merge demographics_df and government_df on the 'location_key' column
merged_df_final = pd.merge(merged_df, df_unique, on='location_key')
merged_df_final.dropna(inplace=True)
# Merge the resulting DataFrame with df_1 on the 'location_key' column
#merged_df = pd.merge(merged_df, df_1, on='location_key')

# Display the resulting DataFrame
display(merged_df_final)

,location_key,count,sni_covid19_vaccination,date,school_closing,workplace_closing,cancel_public_events,restrictions_on_gatherings,public_transport_closing,stay_at_home_requirements,...,fiscal_measures,international_support,public_information_campaigns,testing_policy,contact_tracing,emergency_investment_in_healthcare,investment_in_vaccines,facial_coverings,vaccination_policy,stringency_index
0,Alaska,38617,25.297487,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Alabama,39482,21.910518,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Arkansas,39469,19.970524,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Arizona,39700,22.923230,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,California,39684,26.463601,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Florida,39233,22.986631,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Georgia,39541,19.403183,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Hawaii,37510,27.597897,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,Iowa,39627,23.171171,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,Kentucky,39636,21.547665,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,Massachusetts,39568,34.355318,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,Maryland,39513,29.842738,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,Maine,39440,36.524061,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,Michigan,39617,24.726669,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,New York,40132,34.677319,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,Oregon,39507,29.493114,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37,Pennsylvania,39572,29.619614,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,South Carolina,39379,21.103136,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40,South Dakota,39471,20.756047,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41,Tennessee,39615,20.034923,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,Virginia,39634,25.046246,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46,Washington,39540,28.795359,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47,Wisconsin,39740,23.549975,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48,West Virginia,39344,23.623347,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [192]:
#Scale funding values to improve model
import statsmodels.api as sm
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, r2_score
from sklearn import linear_model
import numpy as np
from sklearn.preprocessing import OneHotEncoder
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge
import ast
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
import locale

X=  merged_df_final[['sni_covid19_vaccination','testing_policy','investment_in_vaccines']]
y= merged_df_final['count']

scaler = StandardScaler()
y = scaler.fit_transform(y.values.reshape(-1, 1))

# Split the data for training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Linear regression model
linear_model = LinearRegression()

# Train data
linear_model.fit(X_train, y_train)

# Get predictions
y_predictions = linear_model.predict(X_test)

#Reverse standardization to get ture valeus for fuding
y_transformed = scaler.inverse_transform(y_predictions.reshape(-1, 1))
#print(y_transformed)

# Check model accuracy
mse = mean_absolute_error(y_test, y_predictions)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 0.4946573635023223

In [191]:
import statsmodels.api as sm

X = merged_df_final[['sni_covid19_vaccination','testing_policy','investment_in_vaccines']]
y = merged_df_final['count']

X = sm.add_constant(X)
print(X.shape)

model = sm.OLS(y, X).fit()
print(model.summary())

(24, 4)
                            OLS Regression Results
==============================================================================
Dep. Variable:                  count   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.045
Method:                 Least Squares   F-statistic:                   0.01777
Date:                Sun, 25 Feb 2024   Prob (F-statistic):              0.895
Time:                        16:51:27   Log-Likelihood:                -181.92
No. Observations:                  24   AIC:                             367.8
Df Residuals:                      22   BIC:                             370.2
Df Model:                           1
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                    3.937e+04    550.496     71.514      0.000    3.82e+04    4.05e+04
sni_covid19_vaccination     2.8223     21.172      0.133      0.895     -41.086      46.731
testing_policy                   0          0        nan        nan           0           0
investment_in_vaccines           0          0        nan        nan           0           0
==============================================================================
Omnibus:                       38.523   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              117.948
Skew:                          -2.907   Prob(JB):                     2.44e-26
Kurtosis:                      12.173   Cond. No.                          inf
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

c:\Users\gebruikerr\Desktop\Lib\site-packages\statsmodels\regression\linear_model.py:1966: RuntimeWarning: divide by zero encountered in scalar divide
  return np.sqrt(eigvals[0]/eigvals[-1])